numpy==1.26.4
pandas==2.0.3
openai
groq
langchain
langchain_community
langchain_openai
langchain_groq
langchain-huggingface
sentence-transformers
chromadb
streamlit
streamlit-mic-recorder
SpeechRecognition
easyocr
torch
torchvision

python-dotenv
beautifulsoup4
requests
lxml
pysbd
pyngrok
pillow

gTTS
